.game-board {
	display: grid;
	grid-template-columns: 200px 200px 200px;
	grid-template-rows: 200px 200px 200px 20px;
	justify-content: center;
}

.box {
	background-color: #d9d9d9;
	border: 2px solid black;
}
